

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>스쿠버 링크 : 비용설정</title>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/Scubalink_CSS_02.css"/>



   </head>


  <body>
    


<div class="wizard">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1"></a>
    </li>

    <li class="disabled">
      <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2"></a>
    </li>

    <li class="disabled">
      <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3"></a>
    </li>

    <li class="disabled">
      <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="Step 4"></a>
    </li>

  </ul>
          

          
          
          
  <form>
    <div class="tab-content">



      <!--Step 1-->
      <div class="tab-pane active" role="tabpanel" id="step1">

        <!--header-->
        <div id="cost_header">
          <span>기본 정보 입력</span><br>
          <span>비용 항목 정보를 입력하세요.</span>
        </div>


        <!--참여 인원 -->   
        <div id="cost_member" class="panel-body">
        	<div>1. 참여자 수를 입력하세요.</div>
            <div>
              <span class="ex_text">강사</span>
              <input type="number" placeholder="0" min=1 max = 100;>
              <span class="c_text">명</span>
            </div>
        
            <div>
              <span class="ex_text">교육생</span>
              <input type="number" placeholder="0" min=1 max = 100;>
              <span class="c_text">명</span>
           </div>
        </div>
    
<div class="tour_division"></div>

      <!--비용 통화-->
     
      <div id="check_currency">
          <div>2. 통화를 선택 후 환율을 입력하세요.</div>
          <ul>
          	<li>
          		<label class="cost_checkbox_container">대한민국 원 KRW
          			<input type="checkbox" value="원" checked >
          			<span class="cost_checkmark"></span>
           	 	</label>
          </li>




          <li>
          	<label class="cost_checkbox_container">미국 달러 USD<input type="checkbox" value="달러">
          	<span class="cost_checkmark"></span></label>
            
            <div class="custom hide">
              <input type="number" placeholder="1,200">
              <span class="c_text">원</span>
              <span class="cur_text">= 1달러</span>
              <div>약 1,200원 = 1달러 (2019/10/01 19:43 기준)</div>
          	</div>
          </li>


          <li>
          		<label class="cost_checkbox_container">일본 엔 JPY
          			<input type="checkbox" value="엔">
          			<span class="cost_checkmark"></span>
           	 	</label>
            
            <div class="custom hide">
              <input type="number" placeholder="1,108">
              <span class="c_text">원</span>
              <span class="cur_text">= 100엔</span>
              <div>약 1,108원 = 100 엔 (2019/10/01 19:43 기준)</div>
          	</div>
          </li>


          <li>
          		<label class="cost_checkbox_container">필리핀 페소 PHP
          			<input type="checkbox" value="페소">
          			<span class="cost_checkmark"></span>
           	 	</label>
            
            <div class="custom hide">
              <input type="number" placeholder="1,200">
              <span class="c_text">원</span>
              <span class="cur_text">= 1페소</span>
              <div>약 230 = 1페소 (2019/10/01 19:43 기준)</div>
          	</div>
          </li>


          <li>
          		<label class="cost_checkbox_container">유럽연합 유로 EUR
          			<input type="checkbox" value="유로">
          			<span class="cost_checkmark"></span>
           	 	</label>
            
            <div class="custom hide">
              <input type="number" placeholder="1,200">
              <span class="c_text">원</span>
              <span class="cur_text">= 1유로</span>
              <div>약 1,300원 = 1유로 (2019/10/01 19:43 기준)</div>
          	</div>
          </li>



      </ul>
    </div>




<div class="tour_division"></div>

<div id="c_main_cur">
<div>3. 기본 통화를 선택하세요.</div>
      <select>
        <option value="원" class="">대한민국 원 KRW</option>
        <option value="달러" class="hide">미국 달러 USD</option>
        <option value="엔" class="hide">일본 엔 JPY</option>
        <option value="페소" class="hide">필리핀 페소 PHP</option>
        <option value="유로" class="hide">유럽연합 유로 EUR</option>

      </select>
</div>
<div class="tour_division"></div>



  <!--비용 입력-->
<div>
  <div class="c_list">
    <div class="panel-body">
      3. 비용 항목을 입력하세요.
      <div id="room_type">
        <div class="input_cost">
          
            <input type="text" class="cost_name" placeholder="비용을 입력해주세요" value="" onkeyup="update_arr()">
            <i class="glyphicon glyphicon-pencil"></i>
            <span class="remove_div btn" onclick="remove_div(this)"><img src="../resources/img/ic-close.svg"></span> 
        
        </div><!-- input cost-->
      </div><!--end of room-type-->


      <div id="field"></div><!--http://nahosung.tistory.com/28 동적 추가/삭제 참조 -->
      <!--투어/교육 추가 버튼-->
      <button type="button" id="plus_cost" class="btn btn-block col-xs-12" onclick="add_div()">
        <span><img src="../resources/img/ic-add-blue.svg"></span>
        <span id="text_tour_education">항목 추가</span>
      </button>


    </div><!--panel body-->
  </div><!--c_list-->
</div>


<div class="tour_division"></div>



<div id="FOC_list">
  <div>FOC 할인 항목</div>
  <ul id="FOC_ul">
  	<li><label class="cost_checkbox_container">다이빙<input type="checkbox" class="FOC_sale"><span class="cost_checkmark"></span></label></li>
  </ul>
</div>


<div class="form_wizard">
  <button id="step_1_prev" class="col-xs-4" type="button">
    <img src="../resources/img/ic-keyboard-arrow-right-white.svg">
    이전
  </button>
  <button class="col-xs-8 next-step" type="button" onclick="update_s1();s1_to_s2()">
    다음
    <img src="../resources/img/ic-keyboard-arrow-right-white.svg">
  </button>
</div>



</div>
                  
<!--end of Step 1--> 





















      <!--Step 2-->
  <div class="tab-pane" role="tabpanel" id="step2">
        

        <!--header-->
    <div id="cost_header">
      <span>교육생 1인 비용 계산</span><br>
      <span >교육생에게 공지할 금액을 입력하세요.</span>
    </div>

  


  <!--비용 입력-->
<div>
  <div class="c_list">
    <div class="panel-body">


      <div id="c_first">
        <div>

        <div class="input_cost">
        	<div class="label label-default hide">FOC 할인</div>
        	<div class="s2_div">
          <div class="s2_cost">
            <input type="text" class="cost_name" placeholder="비용을 입력해주세요">
            <i class="glyphicon glyphicon-pencil"></i>

            <span class="remove_div btn" onclick="remove_div_s2(this)"><img src="../resources/img/ic-close.svg"></span> 
          </div>


          <div class="cost_p1">
            <input type="number" placeholder="0">
            <span class="unit" name="number">
              <select>
                <option value="원">원</option>
                <option value="엔">엔</option>
              </select>
            </span>
          </div>


          <span>X</span>


          <div class="cost_p2">
            <input type="number" placeholder="0" max="999">
            <span class="unit" name="number">
              <select>
                <option value="박">박</option>
                <option value="일">일</option>
                <option value="회">회</option>
              </select>
            </span>
          </div>


          <div class="cost_check_box_1">
            <span class="cost_n">
              <label class="cost_checkbox_container">공동 비용
                <input type="checkbox">
                <span class="cost_checkmark"></span>
              </label>
              <i data-toggle="modal" role="dialog" href="#cost_detail_1">
                <img src="../resources/img/ic-help-outline.svg">
              </i>
            </span>

            <!-- Modal -->
            <div class="modal fade" id="cost_detail_1" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-body">
                    <div>공동 비용</div>
                    <div>
                      <span><img src='../resources/img/ic-check-box.svg'></span>
                      <div class="modal_text">
                        <span class="check_text">체크</span>
                        <p>모두 함께 쓴 비용, 참여자 수만큼 나눠야하는 공동 전체 비용. 예) 하루 총 숙박비</p>
                      </div>
                    </div>

                    <div>
                      <span><img src='../resources/img/ic-check-box-outline-blank.svg'></span>
                      <div class="modal_text">
                        <span class="check_text">체크해제</span>
                        <p>1인 당 개별 비용 예) 하루 1인 숙박비</p>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">   
                  <!--삭제하기-->
                    <button type="button" data-dismiss="modal">닫기</button>
                  </div>
                </div>
              </div>
            </div> <!--Modal 끝-->



            <span class="cost_ins">
              <label class="cost_checkbox_container" disabled>강사 포함 비용
                <input type="checkbox">
                <span class="cost_checkmark"></span>
              </label>
              <i data-toggle="modal" role="dialog" href="#cost_detail_2"><img src="../resources/img/ic-help-outline.svg"></i>
            </span>

            <!-- Modal -->
            <div class="modal fade" id="cost_detail_2" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-body">
                    <div>강사 비용</div>
                    <div>
                      <span><img src='../resources/img/ic-check-box.svg'></span>
                    <div class="modal_text">
                      <span class="check_text">체크</span>
                        <p>강사의 몫이 계산 되어야 하는 비용<br>
                        FOC가 적용되어 최종적으로 할인되더라도 꼭 체크하세요.</p>
                      </div>
                    </div>

                    <div>
                      <span><img src='../resources/img/ic-check-box-outline-blank.svg'></span>
                      <div class="modal_text">
                        <span class="check_text">체크해제</span>
                        <p>교육생만 지불하는 비용</p>
                      </div>
                    </div>
                  </div>

                  <div class="modal-footer">   
                  <!--삭제하기-->
                    <button type="button" data-dismiss="modal">닫기</button>
                  </div>
                </div>
              </div>
            </div> <!--Modal 끝-->
          </div>


</div>
        </div><!-- input cost-->



        <div class="ex_cost">
          <div id="ex_cost_1" class="collapse">
          	<div class=""></div>
          	<span class="check1 hide">강사비용지원 체크 시</span>
          	<span class="check2 hide">공동비용지원 체크 시</span>
          	<span class="check3 hide">공동비용, 강사비용지원 체크 시</span>


            <div>1인 비용</div>

            
            <span>= 단가 x 횟수</span>
            <span class="check_1"> /교육생 수</span>
            <span class="check_2 hide"> +(단가 x 횟수)/교육생 수</span>
            <span class="check_3 hide"> /(교육생 수 + 강사 수)</span>




            <div>=
              <text class="p1"></text>
              <text class="cur"></text>
              <text> x </text>
              <text class="p2"></text>
              <text class="unit"></text>


              <span class="check_1">
                <text>/</text>
                <text class="bgn_n"></text>
                <text>명</text>
              </span>


              <span class="hide check_2">
                <text>+</text>
                <text class="p1"></text>
                <text class="cur"></text>
                <text>x</text>
                <text class="p2"></text>
                <text class="unit"></text>
                <text>/</text>
                <text class="bgn_n"></text>
                <text>명</text>
              </span>


              <span class="hide check_3">
                <text>/</text>
                <text class="bgn_n"></text>
                <text>명</text>
                <text>+</text>
                <text class="ins_n"></text>
                <text>명</text>
              </span>


              <br>
              <text> = </text>
              <text class="cost">40,600</text>
              <text class="cur"></text>

             
            </div>



        </div>


        <div class="accordion-toggle" data-toggle="collapse" data-target="#ex_cost_1">1인 비용 = 
          <text class="cost2"></text>
          <text class="currency2"></text>
          <i><img src="../resources/img/ic-arrow-ltr.svg" class="arrow-bottom"></i>
        </div>
      </div>
    </div>
    </div><!--end of room-type-->





<div id="c_sibling"></div>
  </div><!--panel body-->
</div><!--CollapseTwo-->
</div><!-- panel panel-default-->


 <div class="tour_division"></div>

<div class="s2_p_cost">
  <div>교육생 1인 비용</div>
  <div id="s2_p_name">= 
    <text>다이빙</text>
  </div>
  <div id="s2_p_cal">
    <text>=</text>
    <text>9000</text>
    <text>엔</text>
    <text> + </text>
    <text>40600</text>
    <text>엔</text>
    <text> + </text>
    <text>1659</text>
    <text>엔</text>
  </div>
  <div id=s2_p_sum>
    <text>=</text>
    <text>51259</text>
    <text>엔</text>
  </div>
  <div id="s2_p_total">=
    <text>512590</text>
    <text>원</text>
  </div>
</div>


<div id="s2_sum_cost">
  <div>예상 총 수입</div>
  <div>= 
    <text>교육생 1인 비용</text>
    <text> x </text>
    <text>교육생 수</text>
  </div>
  <div>=
    <text id="p_cost">512590</text>
    <text>원</text>
    <text> x </text>
    <text class="bgn_n"></text>
    <text>명</text>
  </div>
  <div id="total_c">=
    <text>512590</text>
    <text>원</text>
  </div>
</div>
        <div class="form_wizard">
  <button class="col-xs-4 prev-step" type="button" onclick="s2_to_s1()">
    <img src="../resources/img/ic-keyboard-arrow-right-white.svg">
    이전
  </button>

  <div class="col-xs-4 mid_cost">
    총 지출<br>
    51,529 엔
  </div>

  <button class="col-xs-4 next-step" type="button" onclick="s2_to_s3()">
    다음
    <img src="../resources/img/ic-keyboard-arrow-right-white.svg">
  </button>
</div>
</div>
                  
                  
















      <!--Step 3-->
      <div class="tab-pane" role="tabpanel" id="step3">
        <!--header-->
        <div id="cost_header">
          <span>지출 계산</span><br>
          <span >비용 입력</span>
        </div>


        <div id="cost_ins">
          <div>강사 할인 비용 입력</div>
          <!--Step2의 항목이 자동 입력됨 -->
          <ul>   
          </ul>
        </div>


        <div id="cost_no_s">
          <div>교육생 미지원 강사 활동 비용</div>
          <!--Step2의 항목이 자동 입력됨 -->
          <ul>
          </ul>
        </div>



  

  <!--추가 지출-->
  <div>
    <div class="c_list">
      <div class="panel-body">
        <div>추가 지출</div>

        <div id="c_extra_first">
          <div class="input_cost">
            <div>

              <input type="text" class="cost_name" placeholder="비용을 입력해주세요">
              <i class="glyphicon glyphicon-pencil"></i>

              <span class="remove_div btn" onclick="remove_div_s3(this)"><img src="../resources/img/ic-close.svg"></span> 
            </div>

            <div class="c_select">
            <input type="number" placeholder="0">
              <select>
                <option>원</option>
                <option>엔</option>
              </select>
            </div>
          </div><!-- input cost-->
        </div><!--end of room-type-->

        <div id="c_extra_sibling"></div>
        <!--항목 추가 시 c_extra_sibling에 c_extra_first 복사-->
        <!--투어/교육 추가 버튼-->
        <button type="button" id="plus_cost" class="btn btn-block col-xs-12" onclick="add_div_s3()">
          <span><img src="../resources/img/ic-add-blue.svg"></span>
          <span id="text_tour_education">항목 추가</span>
        </button>

      </div><!--panel body-->
    </div><!--c_list-->
</div><!-- panel panel-default-->





<div class="form_wizard">
  <button class="col-xs-4 prev-step" type="button">
    <img src="../resources/img/ic-keyboard-arrow-right-white.svg">
    이전
  </button>


  <div class="col-xs-4 mid_cost">
    총 지출<br>
    51,111 엔
  </div>


  <button class="col-xs-4 next-step" type="button">
    다음
    <img src="../resources/img/ic-keyboard-arrow-right-white.svg">
  </button>
</div>    
             

    </div><!--Step 3-->

















 <!--Step 4-->
      <div class="tab-pane" role="tabpanel" id="step4">


       <!--header-->
    <div id="cost_header">
      <span>수익계산 : 수입 - 지출 </span><br>
      <span class="header_explain">교육생 1인 비용 조정</span>
    </div>


     
    <!--1.기본 정보-->
  <div>

    
    <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
      <div class="panel-heading">
      <span>
        <div style="font-weight:bold">
        총 수입
        </div>
        <div style="font-size:12px">
        교육생 1인 비용  x 교육생 수
      </div>
    </span>

      <span style="float:right;margin-top:-35px">
        <div style="font-size:14px;color:#145db2;font-weight:bold">
        256,296엔
      </div>
      <div style="font-size:12px">
          자세한 식<i><img src="../resources/img/ic-arrow-ltr.svg" class="arrow-bottom" style="width:16px"></i>
        </div>
      </span>
    </div>
  </a>
    

      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
            교육생 1인 비용 = 51,259 엔

            <ul style="margin-left:16px;margin-top:14px;font-size:12px">
              <li style="margin-bottom:20px">
                숙박 = 9,000엔
                <div style="color:#777777;line-height:1.5;margin-top:5px">
                  기본비용 = 2,5000엔 x 3박 = 7,500엔<br>
                  강사포함비용 = 기본비용 + (기본비용/교육생)<br>
                </div>
              </li>
                <li>
                다이빙 3회 = 40,600엔
                <div>
                  기본비용 = 2,5000엔 x 3박 = 7,500엔<br>
                  강사포함비용 = 기본비용 + (기본비용/교육생)<br>
                </div>
              </li>

              <li>
                다이빙 3회 = 40,600엔
                <div>
                  기본비용 = 2,5000엔 x 3박 = 7,500엔<br>
                  강사포함비용 = 기본비용 + (기본비용/교육생)<br>
                </div>
              </li>
            </ul>

            총 수입 = 교육생 1인 비용  x 교육생 수<br>
            =51,259엔  x 5명 = 256,296엔
          </div>


          


 


      </div><!--panel body-->
    </div><!--CollapseOne-->


<div class="form_wizard">
  <button class="col-xs-4 prev-step" type="button">
    <img src="../resources/img/ic-keyboard-arrow-right-white.svg">
    이전
  </button>

  <div class="col-xs-4 mid_cost">
    총 지출<br>
    51,000 엔
  </div>


  <button class="col-xs-4 next-step" type="button">
    다음
    <img src="../resources/img/ic-keyboard-arrow-right-white.svg">
  </button>
</div>  


  </div><!-- panel panel-default-->
</div>
                  
  </form>
</div>






  



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../resources/js/Scubalink_js.js"></script>




  </body>
</html>