<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>스쿠버 링크 : 비용설정</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/Scubalink_CSS_02.css" />

        <style>
            .wizard .nav>li>span {
                padding: 0px;
                width: 6px;
                height: 6px;
                border-radius: 4px 4px 4px 4px;
                background-color: #dddddd;
                margin-right: 4px;
            }

            .nav-tabs>li>span {
                border: none;
                color: #999999;
            }
            .nav-tabs>li>span {
                margin-right: 2px;
                line-height: 1.42857143;
                border: 1px solid transparent;
                border-radius: 4px 4px 0 0;
            }
            .nav>li>span {
                position: relative;
                display: block;
                padding: 10px 15px; }

            .wizard .nav li.active>span {
                background-color: #145db2;
            }
            .nav-tabs>li.active>span, .nav-tabs>li.active>span:focus, .nav-tabs>li.active>span:hover {
                color: #555;
                cursor: default;
                background-color: #fff;
                border: 1px solid #ddd;
                border-bottom-color: transparent;
            }
            .nav-tabs>li.active>span, .nav-tabs>li.active>span:focus, .nav-tabs>li.active>span:hover {
                border-width: 0;
            }
            .wizard .nav>li>span::after {
                background-color: transparent;
            }
            .nav-tabs>li.active>span::after, .nav-tabs>li:hover>span::after {
                transform: scale(1);
            }
        </style>
    </head>


<!--    <body>-->
    <body style="overflow: auto; overscroll-behavior: contain;">
        <div class="wizard">
            <ul id="step_paging" class="nav nav-tabs">
                <li class="active">
                    <span></span>
                </li>

                <li class="disabled">
                    <span></span>
                </li>

                <li class="disabled">
                    <span></span>
                </li>

                <li class="disabled">
                    <span></span>
                </li>

                <li class="disabled">
                    <span></span>
                </li>
            </ul>

            <form>
                <div class="tab-content">

                    <!--Step 1-->
                    <div class="tab-pane active" role="tabpanel" id="step1">
                        <div id="cost_header">
                            <span>기본 정보 입력</span><br>
                            <span>비용 항목 정보를 입력하세요.</span>
                        </div>

                        <div class="tour_division"></div>

                        <div id="c_main_cur">
                            <div>1. 기본 통화를 선택하세요.</div>
                            <select id="step1_currency" onchange="changeExchangeRate()">
                                <option value="원" id="step1_currency_won" selected>대한민국 원 KRW</option>
                                <option value="달러" id="step1_currency_dollor">미국 달러 USD</option>
                                <option value="엔" id="step1_currency_yen">일본 엔 JPY</option>
                                <option value="페소" id="step1_currency_peso">필리핀 페소 PHP</option>
                                <option value="유로" id="step1_currency_euro">유럽연합 유로 EUR</option>
                            </select>
                        </div>

                        <div class="tour_division"></div>

                        <div id="check_currency">
                            <div>2. 사용하는 통화 선택 후 환율을 입력하세요.</div>
                            <ul>
                                <li>
                                    <label class="cost_checkbox_container">
                                        대한민국 원 KRW
                                        <input type="checkbox" id="step1_won_checkbox" value="원" onchange="changeExchangeRateType(this, 'step1_won_input_wrap')" checked>
                                        <span class="cost_checkmark"></span>
                                    </label>

                                    <div id="step1_won_input_wrap" class="custom hide">
                                        <input type="number" id="step1_won_input" placeholder="1" onkeyup="changeExchangeRate(this, 'step1_won_input_error')">
                                        <span id="step1_won_base_currency" class="c_text">원</span>
                                        <span id="step1_won_exchangerate" class="cur_text">= 1원</span>
                                        <div id="step1_won_input_error">환율을 입력하세요.</div>
                                        <div id="step1_won_exchangerate_info">약 1원 = 1원 (2019/10/01 19:43 기준)</div>
                                    </div>
                                </li>

                                <li>
                                    <label class="cost_checkbox_container">
                                        미국 달러 USD
                                        <input type="checkbox" id="step1_dollor_checkbox" value="달러" onchange="changeExchangeRateType(this, 'step1_dollor_input_wrap')">
                                        <span class="cost_checkmark"></span>
                                    </label>

                                    <div id="step1_dollor_input_wrap" class="custom hide">
                                        <input type="number" id="step1_dollor_input" placeholder="1,200" onkeyup="changeExchangeRate(this, 'step1_dollor_input_error')">
                                        <span id="step1_dollor_base_currency" class="c_text">원</span>
                                        <span id="step1_dollor_exchangerate" class="cur_text">= 1달러</span>
                                        <div id="step1_dollor_input_error">환율을 입력하세요.</div>
                                        <div id="step1_dollor_exchangerate_info">약 1,200원 = 1달러 (2019/10/01 19:43 기준)</div>
                                    </div>
                                </li>

                                <li>
                                    <label class="cost_checkbox_container">
                                        일본 엔 JPY
                                        <input type="checkbox" id="step1_yen_checkbox" value="엔" onchange="changeExchangeRateType(this, 'step1_yen_input_wrap')">
                                        <span class="cost_checkmark"></span>
                                    </label>

                                    <div id="step1_yen_input_wrap" class="custom hide">
                                        <input type="number" id="step1_yen_input" placeholder="1,108" onkeyup="changeExchangeRate(this, 'step1_yen_input_error')">
                                        <span id="step1_yen_base_currency" class="c_text">원</span>
                                        <span id="step1_yen_exchangerate" class="cur_text">= 100엔</span>
                                        <div id="step1_yen_input_error">환율을 입력하세요.</div>
                                        <div id="step1_yen_exchangerate_info">약 1,108원 = 100 엔 (2019/10/01 19:43 기준)</div>
                                    </div>
                                </li>

                                <li>
                                    <label class="cost_checkbox_container">
                                        필리핀 페소 PHP
                                        <input type="checkbox" id="step1_peso_checkbox" value="페소" onchange="changeExchangeRateType(this, 'step1_peso_input_wrap')">
                                        <span class="cost_checkmark"></span>
                                    </label>

                                    <div id="step1_peso_input_wrap" class="custom hide">
                                        <input type="number" id="step1_peso_input" placeholder="2,835" onkeyup="changeExchangeRate(this, 'step1_peso_input_error')">
                                        <span id="step1_peso_base_currency" class="c_text">원</span>
                                        <span id="step1_peso_exchangerate" class="cur_text">= 100페소</span>
                                        <div id="step1_peso_input_error">환율을 입력하세요.</div>
                                        <div id="step1_peso_exchangerate_info">약 2,835원 = 100페소 (2019/10/01 19:43 기준)</div>
                                    </div>
                                </li>

                                <li>
                                    <label class="cost_checkbox_container">
                                        유럽연합 유로 EUR
                                        <input type="checkbox" id="step1_euro_checkbox" value="유로" onchange="changeExchangeRateType(this, 'step1_euro_input_wrap')">
                                        <span class="cost_checkmark"></span>
                                    </label>

                                    <div id="step1_euro_input_wrap" class="custom hide">
                                        <input type="number" id="step1_euro_input" placeholder="1,200" onkeyup="changeExchangeRate(this, 'step1_euro_input_error')">
                                        <span id="step1_euro_base_currency" class="c_text">원</span>
                                        <span id="step1_euro_exchangerate" class="cur_text">= 1유로</span>
                                        <div id="step1_euro_input_error">환율을 입력하세요.</div>
                                        <div id="step1_euro_exchangerate_info">약 1,300원 = 1유로 (2019/10/01 19:43 기준)</div>
                                    </div>
                                </li>
                            </ul>

                            <div id="exchange_rate_empty_error" style="width: 100%; font-size: 12px; color: #e02020; margin-top: -10px; padding-bottom: 15px; display: none;">환율을 선택하세요.</div>
                        </div>

                        <div class="tour_division"></div>

                        <div>
                            <div class="c_list">
                                <div class="panel-body">
                                    <text>3. 비용 항목을 입력하세요.</text>
                                    <div id="room_type">
                                        <div class="input_cost">
                                            <input type="text" class="cost_name step1_cost_input" placeholder="예) 숙박비, 다이빙비" style="width: 80%;" value="" onkeyup="changeCostItem()">
                                            <span class="remove_div btn" onclick="deleteCostItem(this)"><img src="/img/ic-close.svg"></span>
                                        </div>
                                        <div class="name_empty_error step1_cost_input_error" style="margin-top: -12px; margin-bottom: 12px;">항목 이름을 입력하세요.</div>
                                    </div>

                                    <div id="field" class="step1_cost_item_wrap"></div>
                                    <button type="button" class="plus_cost btn btn-block col-xs-12" onclick="addCostItem()">
                                        <span><img src="/img/ic-add-blue.svg"></span>
                                        <span class="text_tour_education">항목 추가</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="tour_division"></div>

                        <div id="FOC_list">
                            <div>4. FOC 할인 항목을 선택하세요.</div>
                            <ul id="step1_foc_list">
                                <li><label class="cost_checkbox_container">예) 숙박비, 다이빙비<input type="checkbox" class="FOC_sale" onchange="changeCostFoc()"><span class="cost_checkmark"></span></label></li>
                            </ul>
                        </div>

                        <div class="form_wizard">
                            <button id="step_1_prev" class="col-xs-4" type="button" onclick="prevStep1()">
                                <img src="/img/ic-keyboard-arrow-right-white.svg">
                                이전
                            </button>
                            <button id="step_1_next" class="col-xs-8 next-step" type="button" onclick="nextStep1()">
                                다음
                                <img src="/img/ic-keyboard-arrow-right-white.svg">
                            </button>
                        </div>
                    </div>
                    <!--end of Step 1-->

                    <!--Step 2-->
                    <div class="tab-pane" role="tabpanel" id="step2">
                        <div id="cost_header">
                            <span>교육생 1인 비용 계산</span><br>
                            <span >교육생에게 공지할 금액을 입력하세요.</span>
                        </div>

                        <div>
                            <div class="c_list">
                                <div id="step2_cost_input_wrap" class="panel-body">
                                    <div id="c_first"></div>
                                    <div id="c_sibling"></div>
                                </div>
                            </div>
                        </div>

                        <div class="tour_division"></div>

                        <div class="s2_p_cost">
                            <div>
                                <text id="s2_p_cost_head">교육생 1인 비용</text>
                                <span id="s2_p_total">
                                    <text id="step2_bgn_cost_per_person"></text>
                                </span>
                            </div>
                            <div id="s2_p_cost_ex">선택한 기본 통화('<text id="main_cur">대한민국 원</text>')로 환산 후 계산됩니다.</div>

                            <ul id="s2_cost_arrange">

                            </ul>
                        </div>

                        <div class="form_wizard">
                            <button class="col-xs-4 prev-step" type="button" onclick="prevStep2()">
                                <img src="/img/ic-keyboard-arrow-right-white.svg">
                                이전
                            </button>

                            <div class="col-xs-4 mid_cost">
                                <span class="participate_n">
                                    강사 <text id="step2_summery_ins_count" class="ins_n">0</text>명,
                                    교육생 <text id="step2_summery_bgn_count" class="bgn_n">0</text>명<br>
                                </span>
                                <div class="">
                                    1인 수입 :
                                    <span>
                                        <text id="step2_summery_income_per_person" class="per_cost">0원</text>
                                    </span>
                                </div>
                                <div>
                                    1인 수익 :
                                    <span>
                                        <text id="step2_summery_profit_per_person" class="per_revenue">0원</text>
                                    </span>
                                </div>
                                <div>
                                    총 수익 :
                                    <span>
                                        <text id="step2_summery_profit" class="total_revenue">0원</text>
                                    </span>
                                </div>
                            </div>

                            <button id="step_2_next" class="col-xs-4 next-step" type="button" onclick="nextStep2()">
                                다음
                                <img src="/img/ic-keyboard-arrow-right-white.svg">
                            </button>
                        </div>
                    </div>

                    <!--Step 3-->
                    <div class="tab-pane" role="tabpanel" id="step3">
                        <div id="cost_header">
                            <span>실지출 입력</span><br>
                            <span>아래 입력한 지출 비용은 교육생에게 노출되지 않습니다.</span>
                        </div>

                        <div id="s3_cost_arrange">
                            <div>1. 실지출을 수정하세요.</div>
                            <ul id="step3_real_expense_list"></ul>
                        </div>

                        <div class="tour_division"></div>

                        <!--추가 지출-->
                        <div>
                            <div class="c_list">
                                <div class="panel-body">
                                    <div id="extra_ex_text">2. 추가 지출이 있나요? (선택 입력)</div>
                                    <div class="s3_ex_text">강사 교통비 등 기타 지출이 있다면 입력하세요.</div>

                                    <div id="c_extra_first"></div>
                                    <div id="c_extra_sibling"></div>

                                    <button type="button" class="plus_cost btn btn-block col-xs-12" onclick="addAdditionalExpenseItem()">
                                        <span><img src="/img/ic-add-blue.svg"></span>
                                        <span class="text_tour_education">항목 추가</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="form_wizard">
                            <button class="col-xs-4 prev-step" type="button" onclick="prevStep3()">
                                <img src="/img/ic-keyboard-arrow-right-white.svg">
                                이전
                            </button>

                            <div class="col-xs-4 mid_cost">
                                <span class="participate_n">
                                    강사 <text id="step3_summery_ins_count" class="ins_n">0</text>명,
                                    교육생 <text id="step3_summery_bgn_count" class="bgn_n">0</text>명<br>
                                </span>
                                <div class="">
                                    1인 수입 :
                                    <span>
                                        <text id="step3_summery_income_per_person" class="per_cost">0원</text>
                                    </span>
                                </div>
                                <div>
                                    1인 수익 :
                                    <span>
                                        <text id="step3_summery_profit_per_person" class="per_revenue">0원</text>
                                    </span>
                                </div>
                                <div>
                                    총 수익 :
                                    <span>
                                        <text id="step3_summery_profit" class="total_revenue">0원</text>
                                    </span>
                                </div>
                            </div>

                            <button id="step_3_next" class="col-xs-4 next-step" type="button" onclick="nextStep3()">
                                다음
                                <img src="/img/ic-keyboard-arrow-right-white.svg">
                            </button>
                        </div>
                    </div>


                    <!--Step 4-->
                    <div class="tab-pane" role="tabpanel" id="step4">
                        <div id="cost_header">
                            <span>수익 조정</span><br>
                            <span class="header_explain">아래 슬라이드를 움직여 수익을 조정하세요.</span>
                        </div>

                        <div class="panel-body">
                            <div id="s4_slide_text">
                                <text>1인 수익 조정 슬라이드</text>
                            </div>
                            <div id="slide-range-text">
                                <text id="step4_slide_min_text">-50,000</text>
                                <span style="display:none">0</span>
                                <text id="step4_slide_max_text">150,000</text>
                            </div>
                            <input id="slide-range" type="range" min="-50000" max="150000" step="0.01" value="0" oninput="changeSlideCost('slide')">

                            <table id="s4_control_cost" class="table">
                                <thead>
                                    <tr>
                                        <th class="s4_cost_name">항목</th>
                                        <th class="s4_income">1인 수입<br>
                                            <text id="step4_income_text">650000원</text>
                                        </th>
                                        <th id="step4_profit_text_wrap" class="s4_revenue">1인 수익<br>
                                            <text id="step4_profit_text">0원</text>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="s4_control_cost_input">
                                        <th class="s4_cost_name">
                                            <text>수익 조정을 위한 항목</text><br>
                                            <input type="text" id="step4_slide_cost_name" placeholder="예) 교육비, 예비비" onkeyup="changeSlideCost()"><br>
                                            <text id="step4_slide_cost_error" class="s4_input_err">항목 이름과 금액을 입력하세요.</text>
                                        </th>
                                        <td class="s4_income">
                                            <text id="s4_control_income">0원</text>
                                        </td>
                                        <td class="s4_revenue">
                                            <input id="s4_control_revenue" type="text" value="" onkeyup="setTimeout(() => {changeSlideCost('input');}, 100)">
                                            <span id="step4_control_cost_type">원</span>
                                        </td>
                                    </tr>

                                    <tbody id="step4_cost_list" style="border-top: 1px solid #ddd;">
                                        <tr>
                                            <th class="s4_cost_name">숙박</th>
                                            <td class="s4_income"><text>105000</text>
                                                <text>원</text>
                                            </td>
                                            <td class="s4_revenue"><text>0</text>
                                                <text>원</text>
                                            </td>
                                        </tr>
                                    </tbody>
                                </tbody>
                            </table>
                        </div>

                        <div class="form_wizard">
                            <button class="col-xs-4 prev-step" type="button" onclick="prevStep4()">
                                <img src="/img/ic-keyboard-arrow-right-white.svg">
                                이전
                            </button>

                            <div class="col-xs-4 mid_cost">
                                <span class="participate_n">
                                    강사 <text id="step4_summery_ins_count" class="ins_n">0</text>명,
                                    교육생 <text id="step4_summery_bgn_count" class="bgn_n">0</text>명<br>
                                </span>
                                <div class="">
                                    1인 수입 :
                                    <span>
                                        <text id="step4_summery_income_per_person" class="per_cost">0원</text>
                                    </span>
                                </div>
                                <div>
                                    1인 수익 :
                                    <span>
                                        <text id="step4_summery_profit_per_person" class="per_revenue">0원</text>
                                    </span>
                                </div>
                                <div>
                                    총 수익 :
                                    <span>
                                        <text id="step4_summery_profit" class="total_revenue">0원</text>
                                    </span>
                                </div>
                            </div>

                            <button id="step_4_next" class="col-xs-4 next-step" type="button" onclick="nextStep4();">
                                다음
                                <img src="/img/ic-keyboard-arrow-right-white.svg">
                            </button>
                        </div>
                    </div><!-- panel panel-default-->

                    <!--Step 5-->
                    <div class="tab-pane" role="tabpanel" id="step5">
                        <div id="cost_header">
                            <span>최종 확인</span><br>
                            <span class="header_explain">교육생 비용과 수익을 확인하세요.</span>
                        </div>

                        <div id="s5_cost_arr">
                            <div>교육생 1인 비용
                                <span>
                                    <text id="step5_cost_result">650000원</text>
                                </span>
                            </div>
                            <ul id="step5_cost_list"></ul>
                        </div>

                        <div class="form_wizard">
                            <button class="col-xs-4 prev-step" type="button" onclick="prevStep5()">
                                <img src="/img/ic-keyboard-arrow-right-white.svg">
                                이전
                            </button>
                            <div class="col-xs-4 mid_cost">
                                <span class="participate_n">
                                    강사 <text id="step5_summery_ins_count" class="ins_n">0</text>명,
                                    교육생 <text id="step5_summery_bgn_count" class="bgn_n">0</text>명<br>
                                </span>
                                <div class="">
                                    1인 수입 :
                                    <span>
                                        <text id="step5_summery_income_per_person" class="per_cost">0원</text>
                                    </span>
                                </div>
                                <div>
                                    1인 수익 :
                                    <span>
                                        <text id="step5_summery_profit_per_person" class="per_revenue">0원</text>
                                    </span>
                                </div>
                                <div>
                                    총 수익 :
                                    <span>
                                        <text id="step5_summery_profit" class="total_revenue">0원</text>
                                    </span>
                                </div>
                            </div>

                            <text id="step5_summery_income_per_person_hidden"></text>
                            <text id="step5_summery_profit_per_person_hidden"></text>
                            <text id="step5_summery_profit_hidden"></text>

                            <button class="col-xs-4 next-step" type="button" onclick="nextStep5();">
                                다음
                                <img src="/img/ic-keyboard-arrow-right-white.svg">
                            </button>
                        </div>
                    </div><!-- panel panel-default-->
                </div>

            </form>
        </div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/Scubalink_js.js"></script>
        <script type="text/javascript" src="/js/httpUtil.js"></script>
        <script type="text/javascript" src="/js/cost.js"></script>
        <script type="text/javascript">
            var tourId = '<%= _id %>';
            var exchangerate = <%- JSON.stringify(exchangerateList) %>;
            exchangerate.push({name: 'KRW', timestamp: (new Date()).getTime() * 1000, rate: 1});

            var insCount = parseInt('<%= insCount %>');
            var bgnCount = parseInt('<%= bgnCount %>');
            var data = {
                exchangerate: [{
                    type: '원',
                    name: '원',
                    price: 0
                }],
                currency: '원',
                cost: [{
                    name: '',
                    foc: false,
                    public: false,
                    include: false,
                    price: '',
                    priceType: '',
                    count: '',
                    countType: '회',
                    expense: ''
                }],
                additional: [{
                    name: '',
                    price: '',
                    priceType: '',
                    count: '',
                    countType: '',
                }],
                adjustment: {
                    name: '',
                    price: 0
                },
                incomePerPerson: 0,
                profitPerPerson: 0
            };

            window.onpageshow = function (event) {
                httpSend.send("/tour/detail", {
                    id: tourId
                }, "POST", function(result) {
                    console.log(result);

                    if (result.cost !== null) {
                        data = result.cost;

                        document.getElementById('step1_currency').value = data.currency;

                        for (var i = 0; i < data.exchangerate.length; i++) {
                            if (data.exchangerate[i].type === '원') {
                                document.getElementById('step1_won_checkbox').checked = true;
                                if (data.exchangerate[i].type !== data.currency) {
                                    document.getElementById('step1_won_input').value = data.exchangerate[i].price;
                                    document.getElementById('step1_won_input_wrap').classList.remove('hide');
                                }
                            } else if (data.exchangerate[i].type === '달러') {
                                document.getElementById('step1_dollor_checkbox').checked = true;
                                if (data.exchangerate[i].type !== data.currency) {
                                    document.getElementById('step1_dollor_input').value = data.exchangerate[i].price;
                                    document.getElementById('step1_dollor_input_wrap').classList.remove('hide');
                                }
                            } else if (data.exchangerate[i].type === '엔') {
                                document.getElementById('step1_yen_checkbox').checked = true;
                                if (data.exchangerate[i].type !== data.currency) {
                                    document.getElementById('step1_yen_input').value = data.exchangerate[i].price;
                                    document.getElementById('step1_yen_input_wrap').classList.remove('hide');
                                }
                            } else if (data.exchangerate[i].type === '페소') {
                                document.getElementById('step1_peso_checkbox').checked = true;
                                if (data.exchangerate[i].type !== data.currency) {
                                    document.getElementById('step1_peso_input').value = data.exchangerate[i].price;
                                    document.getElementById('step1_peso_input_wrap').classList.remove('hide');
                                }
                            } else if (data.exchangerate[i].type === '유로') {
                                document.getElementById('step1_euro_checkbox').checked = true;
                                if (data.exchangerate[i].type !== data.currency) {
                                    document.getElementById('step1_euro_input').value = data.exchangerate[i].price;
                                    document.getElementById('step1_euro_input_wrap').classList.remove('hide');
                                }
                            }
                        }

                        document.getElementById('step1_won_base_currency').innerHTML = data.currency;
                        document.getElementById('step1_dollor_base_currency').innerHTML = data.currency;
                        document.getElementById('step1_yen_base_currency').innerHTML = data.currency;
                        document.getElementById('step1_peso_base_currency').innerHTML = data.currency;
                        document.getElementById('step1_euro_base_currency').innerHTML = data.currency;

                        if (data.currency === '원') {
                            document.getElementById('step1_won_base_currency').innerHTML = '원';
                            document.getElementById('step1_won_exchangerate').innerHTML = '= 1원';
                            document.getElementById('step1_dollor_base_currency').innerHTML = '원';
                            document.getElementById('step1_dollor_exchangerate').innerHTML = '= 1달러';
                            document.getElementById('step1_yen_base_currency').innerHTML = '원';
                            document.getElementById('step1_yen_exchangerate').innerHTML = '= 100엔';
                            document.getElementById('step1_peso_base_currency').innerHTML = '원';
                            document.getElementById('step1_peso_exchangerate').innerHTML = '= 100페소';
                            document.getElementById('step1_euro_base_currency').innerHTML = '원';
                            document.getElementById('step1_euro_exchangerate').innerHTML = '= 1유로';

                            document.getElementById('step1_won_exchangerate_info').innerHTML = '약 1원 = 1원 (2019/10/01 19:43 기준)';
                            document.getElementById('step1_dollor_exchangerate_info').innerHTML = '약 ' + getExchangerate('KRW', 'USD', 1) + '원 = 1달러 ' + getDatetime('KRW');
                            document.getElementById('step1_yen_exchangerate_info').innerHTML = '약 ' + getExchangerate('KRW', 'JPY', 100) + '원 = 100엔 ' + getDatetime('KRW');
                            document.getElementById('step1_peso_exchangerate_info').innerHTML = '약 ' + getExchangerate('KRW', 'PHP', 100) + '원 = 100페소 ' + getDatetime('KRW');
                            document.getElementById('step1_euro_exchangerate_info').innerHTML = '약 ' + getExchangerate('KRW', 'EUR', 1) + '원 = 1유로 ' + getDatetime('KRW');

                            document.getElementById('step1_won_input').placeholder = '1';
                            document.getElementById('step1_dollor_input').placeholder = getExchangerate('KRW', 'USD', 1);
                            document.getElementById('step1_yen_input').placeholder = getExchangerate('KRW', 'JPY', 100);
                            document.getElementById('step1_peso_input').placeholder = getExchangerate('KRW', 'PHP', 100);
                            document.getElementById('step1_euro_input').placeholder = getExchangerate('KRW', 'EUR', 1);
                        } else if (data.currency === '달러') {
                            document.getElementById('step1_won_base_currency').innerHTML = '달러';
                            document.getElementById('step1_won_exchangerate').innerHTML = '= 1000원';
                            document.getElementById('step1_dollor_base_currency').innerHTML = '달러';
                            document.getElementById('step1_dollor_exchangerate').innerHTML = '= 1달러';
                            document.getElementById('step1_yen_base_currency').innerHTML = '달러';
                            document.getElementById('step1_yen_exchangerate').innerHTML = '= 100엔';
                            document.getElementById('step1_peso_base_currency').innerHTML = '달러';
                            document.getElementById('step1_peso_exchangerate').innerHTML = '= 100페소';
                            document.getElementById('step1_euro_base_currency').innerHTML = '달러';
                            document.getElementById('step1_euro_exchangerate').innerHTML = '= 1유로';

                            document.getElementById('step1_won_exchangerate_info').innerHTML = '약 ' + getExchangerate('USD', 'KRW', 1000) + '달러 = 1000원 ' + getDatetime('USD');
                            document.getElementById('step1_dollor_exchangerate_info').innerHTML = '약 1달러 = 1달러 (2019/10/01 19:43 기준)';
                            document.getElementById('step1_yen_exchangerate_info').innerHTML = '약 ' + getExchangerate('USD', 'JPY', 100) + '달러 = 100엔 ' + getDatetime('USD');
                            document.getElementById('step1_peso_exchangerate_info').innerHTML = '약 ' + getExchangerate('USD', 'PHP', 100) + '달러 = 100페소 ' + getDatetime('USD');
                            document.getElementById('step1_euro_exchangerate_info').innerHTML = '약 ' + getExchangerate('USD', 'EUR', 1) + '달러 = 1유로 ' + getDatetime('USD');

                            document.getElementById('step1_won_input').placeholder = getExchangerate('USD', 'KRW', 1000);
                            document.getElementById('step1_dollor_input').placeholder = '1';
                            document.getElementById('step1_yen_input').placeholder = getExchangerate('USD', 'JPY', 100);
                            document.getElementById('step1_peso_input').placeholder = getExchangerate('USD', 'PHP', 100);
                            document.getElementById('step1_euro_input').placeholder = getExchangerate('USD', 'EUR', 1);
                        } else if (data.currency === '엔') {
                            document.getElementById('step1_won_base_currency').innerHTML = '엔';
                            document.getElementById('step1_won_exchangerate').innerHTML = '= 1000원';
                            document.getElementById('step1_dollor_base_currency').innerHTML = '엔';
                            document.getElementById('step1_dollor_exchangerate').innerHTML = '= 1달러';
                            document.getElementById('step1_yen_base_currency').innerHTML = '엔';
                            document.getElementById('step1_yen_exchangerate').innerHTML = '= 1엔';
                            document.getElementById('step1_peso_base_currency').innerHTML = '엔';
                            document.getElementById('step1_peso_exchangerate').innerHTML = '= 100페소';
                            document.getElementById('step1_euro_base_currency').innerHTML = '엔';
                            document.getElementById('step1_euro_exchangerate').innerHTML = '= 1유로';

                            document.getElementById('step1_won_exchangerate_info').innerHTML = '약 ' + getExchangerate('JPY', 'KRW', 1000) + '엔 = 1000원 ' + getDatetime('JPY');
                            document.getElementById('step1_dollor_exchangerate_info').innerHTML = '약 ' + getExchangerate('JPY', 'USD', 1) + '엔 = 1달러 ' + getDatetime('JPY');
                            document.getElementById('step1_yen_exchangerate_info').innerHTML = '약 1엔 = 1엔 (2019/10/01 19:43 기준)';
                            document.getElementById('step1_peso_exchangerate_info').innerHTML = '약 ' + getExchangerate('JPY', 'PHP', 100) + '엔 = 100페소 ' + getDatetime('JPY');
                            document.getElementById('step1_euro_exchangerate_info').innerHTML = '약 ' + getExchangerate('JPY', 'EUR', 1) + '엔 = 1유로 ' + getDatetime('JPY');

                            document.getElementById('step1_won_input').placeholder = getExchangerate('JPY', 'KRW', 1000);
                            document.getElementById('step1_dollor_input').placeholder = getExchangerate('JPY', 'USD', 1);
                            document.getElementById('step1_yen_input').placeholder = '1';
                            document.getElementById('step1_peso_input').placeholder = getExchangerate('JPY', 'PHP', 100);
                            document.getElementById('step1_euro_input').placeholder = getExchangerate('JPY', 'EUR', 1);
                        } else if (data.currency === '페소') {
                            document.getElementById('step1_won_base_currency').innerHTML = '페소';
                            document.getElementById('step1_won_exchangerate').innerHTML = '= 1000원';
                            document.getElementById('step1_dollor_base_currency').innerHTML = '페소';
                            document.getElementById('step1_dollor_exchangerate').innerHTML = '= 1달러';
                            document.getElementById('step1_yen_base_currency').innerHTML = '페소';
                            document.getElementById('step1_yen_exchangerate').innerHTML = '= 100엔';
                            document.getElementById('step1_peso_base_currency').innerHTML = '페소';
                            document.getElementById('step1_peso_exchangerate').innerHTML = '= 1페소';
                            document.getElementById('step1_euro_base_currency').innerHTML = '페소';
                            document.getElementById('step1_euro_exchangerate').innerHTML = '= 1유로';

                            document.getElementById('step1_won_exchangerate_info').innerHTML = '약 ' + getExchangerate('PHP', 'KRW', 1000) + '페소 = 1000원 ' + getDatetime('PHP');
                            document.getElementById('step1_dollor_exchangerate_info').innerHTML = '약 ' + getExchangerate('PHP', 'USD', 1) + '페소 = 1달러 ' + getDatetime('PHP');
                            document.getElementById('step1_yen_exchangerate_info').innerHTML = '약 ' + getExchangerate('PHP', 'JPY', 100) + '페소 = 100엔 ' + getDatetime('PHP');
                            document.getElementById('step1_peso_exchangerate_info').innerHTML = '약 1페소 = 1페소 (2019/10/01 19:43 기준)';
                            document.getElementById('step1_euro_exchangerate_info').innerHTML = '약 ' + getExchangerate('PHP', 'EUR', 1) + '페소 = 1유로 ' + getDatetime('PHP');

                            document.getElementById('step1_won_input').placeholder = getExchangerate('PHP', 'KRW', 1000);
                            document.getElementById('step1_dollor_input').placeholder = getExchangerate('PHP', 'USD', 1);
                            document.getElementById('step1_yen_input').placeholder = getExchangerate('PHP', 'JPY', 100);
                            document.getElementById('step1_peso_input').placeholder = '1';
                            document.getElementById('step1_euro_input').placeholder = getExchangerate('PHP', 'EUR', 1);
                        } else if (data.currency === '유로') {
                            document.getElementById('step1_won_base_currency').innerHTML = '유로';
                            document.getElementById('step1_won_exchangerate').innerHTML = '= 1000원';
                            document.getElementById('step1_dollor_base_currency').innerHTML = '유로';
                            document.getElementById('step1_dollor_exchangerate').innerHTML = '= 1달러';
                            document.getElementById('step1_yen_base_currency').innerHTML = '유로';
                            document.getElementById('step1_yen_exchangerate').innerHTML = '= 100엔';
                            document.getElementById('step1_peso_base_currency').innerHTML = '유로';
                            document.getElementById('step1_peso_exchangerate').innerHTML = '= 100페소';
                            document.getElementById('step1_euro_base_currency').innerHTML = '유로';
                            document.getElementById('step1_euro_exchangerate').innerHTML = '= 1유로';

                            document.getElementById('step1_won_exchangerate_info').innerHTML = '약 ' + getExchangerate('EUR', 'KRW', 1000) + '유로 = 1000원 ' + getDatetime('EUR');
                            document.getElementById('step1_dollor_exchangerate_info').innerHTML = '약 ' + getExchangerate('EUR', 'USD', 1) + '유로 = 1달러 ' + getDatetime('EUR');
                            document.getElementById('step1_yen_exchangerate_info').innerHTML = '약 ' + getExchangerate('EUR', 'JPY', 100) + '유로 = 100엔 ' + getDatetime('EUR');
                            document.getElementById('step1_peso_exchangerate_info').innerHTML = '약 ' + getExchangerate('EUR', 'PHP', 100) + '유로 = 100페소 ' + getDatetime('EUR');
                            document.getElementById('step1_euro_exchangerate_info').innerHTML = '약 1유로 = 1유로 (2019/10/01 19:43 기준)';

                            document.getElementById('step1_won_input').placeholder = getExchangerate('EUR', 'KRW', 1000);
                            document.getElementById('step1_dollor_input').placeholder = getExchangerate('EUR', 'USD', 1);
                            document.getElementById('step1_yen_input').placeholder = getExchangerate('EUR', 'JPY', 100);
                            document.getElementById('step1_peso_input').placeholder = getExchangerate('EUR', 'PHP', 100);
                            document.getElementById('step1_euro_input').placeholder = '1';
                        }

                        for (i = 0; i < data.cost.length; i++) {
                            if (i === 0) {
                                document.getElementsByClassName('step1_cost_input')[0].value = data.cost[i].name;
                            } else {
                                var divElement = document.createElement("div");
                                var html = '';
                                html += '<div class="input_cost">';
                                html +=     '<input type="text" class="cost_name step1_cost_input" placeholder="예) 숙박비, 다이빙비" value="' + data.cost[i].name + '" style="width: 80%;" value="" onkeyup="changeCostItem()" />';
                                html +=     '<span class="remove_div btn" onclick="deleteCostItem(this)">';
                                html +=         '<img src="/img/ic-close.svg">';
                                html +=     '</span>';
                                html += '</div>';
                                html += '<div class="name_empty_error step1_cost_input_error" style="margin-top: -12px; margin-bottom: 12px;">항목 이름을 입력하세요.</div>';
                                divElement.innerHTML = html;
                                document.getElementsByClassName('step1_cost_item_wrap')[0].appendChild(divElement);
                            }
                        }

                        makeFocList();

                        document.getElementById('step_1_next').style.backgroundColor = '#145db2';
                    }
                }, function(errorCode, errorMessage) {
                    console.log(errorMessage);
                });
            };

            document.getElementById('s4_control_revenue').onkeydown = function (event) {
                if (event.keyCode === 32 || event.code === 'Space' ||
                    event.key === '!' || event.key === '@' ||
                    event.key === '#' || event.key === '$' ||
                    event.key === '%' || event.key === '^' ||
                    event.key === '&' || event.key === '*' ||
                    event.key === '(' || event.key === ')') {
                    return false;
                } else if (event.keyCode === 189 || event.code === 'Minus' ||
                    event.keyCode === 13 || event.code === 'Enter' ||
                    event.keyCode === 8 || event.code === 'Backspace' ||
                    event.keyCode === 37 || event.code === 'ArrowLeft' ||
                    event.keyCode === 38 || event.code === 'ArrowUp' ||
                    event.keyCode === 39 || event.code === 'ArrowRight' ||
                    event.keyCode === 40 || event.code === 'ArrowDown' ||
                    event.keyCode === 190 || event.code === 'Period' ||
                    event.keyCode === 40 || event.code === 'ArrowDown' ||
                    event.keyCode === 40 || event.code === 'ArrowDown' ||
                    (48 <= event.keyCode && event.keyCode <= 57) ||
                    (0 <= event.key && event.key <= 9)) {
                    return true;
                } else {
                    return false;
                }
            };

            document.getElementById('s4_control_revenue').oninput = function () {
                event.target.value = event.target.value.replace(/[^-0-9]/gi, "");
            };

            Element.prototype.remove = function() {
                this.parentElement.removeChild(this);
            };
            NodeList.prototype.remove = HTMLCollection.prototype.remove = function() {
                for(var i = this.length - 1; i >= 0; i--) {
                    if(this[i] && this[i].parentElement) {
                        this[i].parentElement.removeChild(this[i]);
                    }
                }
            };

            function addComma(num) {
                var regexp = /\B(?=(\d{3})+(?!\d))/g;
                return num.toString().replace(regexp, ',');
            }

            function getExchangerate (target, base, price) {
                var targetExchangerate = Math.floor(exchangerate.filter(item => item.name === target)[0].rate * 100) / 100;
                var baseExchangerate = Math.floor(exchangerate.filter(item => item.name === base)[0].rate * 100) / 100;
                return Math.round(baseExchangerate / targetExchangerate * price * 100) / 100;
            }

            function getDatetime (target) {
                var date = new Date(exchangerate.filter(item => item.name === target)[0].timestamp / 1000);
                return '(' + date.getFullYear() + '/' +
                    ((date.getMonth()+1) < 10 ? '0' + (date.getMonth()+1) : (date.getMonth())+1) + '/' +
                    (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + ' ' +
                    (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':' +
                    (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ' 기준)';
            }
        </script>
    </body>
</html>
